
body {
    font-family:'Outfit', sans-serif;
    background-image:url(/src/img/Fundo2.png);
    }



.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.cabecalho h1 {
    color: aliceblue;
    background-color: blue;
}

.cabecalho p {
    color: aliceblue;
    background-color: blue;

}

.lista {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.itens_lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    color: aliceblue;
}

.galaxias {
    color: aliceblue;
}

